extends ../layout/layout.pug


block preload

block script
  script(src='/js/main.js')

block content

  section#works

    //- ul.work-list
    //-     li.work-list__item
    //-       a(href="#fld-lille", style="background-image: url('/img/works/quentin-blake/quentin-blake_thumbnail.jpg')").work
    //-         .work__meta
    //-           h3.work__banner__title
    //-             = "Quentin Blake's Box of Treasure"
    //-     li.work-list__item
    //-       a(href="#fld-lille", style="background-image: url('/img/works/quentin-blake/quentin-blake_thumbnail.jpg')").work
    //-         .work__meta
    //-           h3.work__banner__title
    //-             = "Quentin Blake's Box of Treasure"