/// Max size of the page

/// Viewports sizes
/// They're used in media queries


:root {
    --container-width: 1440px;

    --gap: 15px;
    --gap-small: calc(var(--gap) / 2);
    --page-padding: calc(var(--gap));

    @media (min-width: 480px) {
        --page-padding: calc(var(--gap) * 2.5);
    }
}