:root {
    --ff-text: 'Inter', sans-serif;
    --ff-heading: var(--ff-text);
    --ff-logo: 'Poppins', serif;

    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 500;

    --fz-text: 2.0rem;
    --fz-title: 2.4rem;
}
