extends ../../layout/layout.pug

block title
  title Armelle Prunier - Avril et le monde truqué

block content
    section#work.meta
        h1.meta__title Avril et le monde truqué
        p.meta__category Long métrage
        p.meta__job Décors couleur

    section#gallery.gallery 
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_1.jpg", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_2.jpg", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_3.jpg", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_4.jpg", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_7.jpg", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_8.png", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_9.png", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_10.png", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_11.jpg", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_12.jpg", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_13.png", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_14.png", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_15.png", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_16.png", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_17.png", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_18.png", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_19.png", alt="")
