extends ../../layout/layout.pug

block title
  title Armelle Prunier - Avril et le monde truqué

block content
    section#work.meta
        h1.meta__title Avril et le monde truqué
        p.meta__category Long métrage
        p.meta__job Décors couleur

    section#gallery.gallery 
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_1.jpg", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_2.jpg", alt="")
        img(src="/img/works/avril-et-le-monde-truque/avril-et-le-monde-truque_3.jpg", alt="")
