extends ../../layout/layout.pug

block title
  title Armelle Prunier - Josep

block content
    section#work.meta
        h1.meta__title Josep
        p.meta__category Long métrage
        p.meta__job Décors couleur

    section#gallery.gallery 
        img(src="/img/works/josep/josep_1.jpg", alt="")
        img(src="/img/works/josep/josep_2.jpg", alt="")
