extends ../../layout/layout.pug

block title
  title Armelle Prunier - Lastman Heroes saison 2

block content
    section#work.meta
        h1.meta__title Lastman Heroes saison 2
        p.meta__category Série
        p.meta__job Décors couleur

    section#gallery.gallery 
        img(src="/img/works/lastman-heroes/lastman-heroes_1.jpg", alt="")
        img(src="/img/works/lastman-heroes/lastman-heroes_2.jpg", alt="")
        img(src="/img/works/lastman-heroes/lastman-heroes_3.jpg", alt="")
