extends ../../layout/layout.pug

block title
  title Armelle Prunier - Lastman

block content
    section#work.meta
        h1.meta__title Lastman
        p.meta__category Série
        p.meta__job Décors couleur

    section#gallery.gallery 
        img(src="/img/works/lastman/lastman_1.jpg", alt="")
        img(src="/img/works/lastman/lastman_2.jpg", alt="")
        img(src="/img/works/lastman/lastman_3.jpg", alt="")
