extends ../../layout/layout.pug

block title
  title Armelle Prunier - Les secrets de mon père

block content           
    section#work.meta
        h1.meta__title Les Secrets de mon père
        p.meta__category Long métrage
        p.meta__job Références et&nbsp;décors&nbsp;couleur

    section#gallery.gallery 
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_1.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_2.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_3.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_4.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_5.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_6.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_7.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_8.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_9.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_10.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_11.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_12.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_13.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_14.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_15.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_16.jpg", alt="")
