extends ../../layout/layout.pug

block title
  title Armelle Prunier - Les secrets de mon père

block content
    section#work.meta
        h1.meta__title Les secrets de mon père
        p.meta__category Long métrage
        p.meta__job Décors couleur

    section#gallery.gallery 
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_1.jpg", alt="")
        img(src="/img/works/les-secrets-de-mon-pere/les-secrets-de-mon-pere_2.jpg", alt="")
