extends ../../layout/layout.pug

block title
  title Armelle Prunier - Petit malabar

block content
    section#work.meta
        h1.meta__title Petit malabar
        p.meta__category Série
        p.meta__job Références et décors couleur

    section#gallery.gallery 
