extends ../../layout/layout.pug

block title
  title Armelle Prunier - Quentin Blake's Box of Treasures

block content
    section#work.meta
        h1.meta__title Quentin Blake's Box of Treasures
        p.meta__category Série
        p.meta__job Références et décors couleur

    section#gallery.gallery 
        img(src="/img/works/quentin-blake/quentin-blake_1.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_2.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_3.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_4.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_5.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_6.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_7.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_8.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_9.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_10.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_11.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_12.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_13.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_14.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_15.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_16.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_17.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_18.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_19.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_20.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_21.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_22.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_23.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_24.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_25.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_26.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_27.jpg", alt="")
        img(src="/img/works/quentin-blake/quentin-blake_28.jpg", alt="")