doctype html
html(lang="en")
  head
    title Armelle Prunier - Background &amp; Concept Artist
    meta(name="description" content="Armelle Prunier, a Background & Concept Artist.")
    meta(charset="utf-8")
    meta(http-equiv="Content-Type", content="text/html; charset=utf-8")

    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="viewport", content=", width=device-width, initial-scale=1")
    link(rel="manifest", href="/manifest.json")

    link(rel="shortcut icon", href="/img/favicon.ico")
    link(rel="apple-touch-icon", href="/img/apple-touch-icon.png")
    link(rel="apple-touch-startup-image", href="/img/apple-touch-icon.png")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
    meta(name="apple-mobile-web-app-capable", content="yes")

    link(inline, rel="stylesheet", href="/css/main.css")

    meta(property="og:title", content="Armelle Prunier - Background & Concept Artist")
    meta(property="og:description", content="Armelle Prunier, a Background & Concept Artist.")
    meta(property="og:type", content="website")
    meta(property="og:url", content="https://armelleprunier.plou.dev")
    meta(property="og:image", content="https://armelleprunier.plou.dev/img/logo.png")
    meta(property="og:image:alt", content="armelleprunier.plou.dev")

    link(rel="preconnect", href="https://rsms.me/", crossorigin)
    link( rel="preload", href="https://rsms.me/inter/inter.css", as="style")

    link(media="print", onload="this.media='all'", href="https://rsms.me/inter/inter.css", rel="stylesheet")

    noscript
      link(rel="stylesheet", href="https://rsms.me/inter/inter.css")

    block preload

  body
    header.header
      h1.header-title Armelle Prunier
      p.header-subtitle Background &amp; Concept Artist

    .content
      block content

    block script 
