.gallery {
    display: flex;
    flex-direction: column;
    gap: calc(var(--gap));


    @media (min-width: 480px) {
        gap: calc(var(--gap) * 3);
    }

    @media (min-width: 920px) {
        text-align: right;
    }
}