@use '../settings/dimensions' as *;

.content {
  margin: 0;
  padding: var(--page-padding);
  max-width: var(--container-width);
  list-style: none;
  display: grid;
  gap: var(--gap);

  
  @media (min-width: 920px) {
    grid-template-columns: 220px auto;
  }
  
}

