@use '../settings/dimensions' as *;

.content {
  margin: 0;
  padding: 10px var(--page-padding) var(--page-padding) var(--page-padding);
  max-width: var(--container-width);
  list-style: none;
  
  @media (min-width: 920px) {
    display: grid;
    gap: var(--gap);
    grid-template-columns: 220px auto;
  }
  
}

