.meta {
    display: flex;
    flex-direction: column;
    margin-bottom: var(--gap);

    @media (min-width: 920px) {
        text-align: right;
    }
}
.meta__title {
    order: 1;
    margin: 0;
    font-size: 2.4rem;
    margin-bottom: var(--gap-smaller);
    line-height: 1.2;

    @media (min-width: 920px) {
        margin-bottom: calc(var(--gap) * 1.5);
    }
}

.meta__category {
    order: 0;
    margin: 0;
    font-size: 1.4rem;
    color: var(--grey);
    font-weight: var(--fw-light);
    line-height: 1.2;
}

.meta__job {
    order: 3;
    margin: 0;
    font-size: 1.8rem;
    font-weight: var(--fw-light);
    line-height: 1.2;
}