@use '../settings/dimensions' as *;
.work-list-container {
  grid-column: 2;
}

.work-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  gap: var(--gap);
}

.work-list__item {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
}
